<p><%= link_to 'Home', root_path %></p>
<div  id="page-container">
  <div class="page-header">
    <h1>Welcome Back!</h1>
  </div>

  <%=form_for(:session, url: login_path) do |f|%>

    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "Login" %>

  <div id="not-member">
    <p>Not a member? <%= link_to 'Sign Up', signup_path%></p>
  </div>
  <%end%>

</div>